[user]
	name = philbjern
[core]
	editor = vim
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[color]
	ui = auto
[alias]
	st = status 
	s = status
	cm = commit -m
	c = commit -m
	co = checkout
	br = branch
	b = branch
	a = add
	unstage = reset HEAD --
	last = log -1 HEAD
	ll = log --oneline
	rv = remote -v
	d = diff
	dv = difftool -t vimdiff -y
	gl = config --global -l
	se = !git rev-list --all | xargs git grep -F 
[init]
	defaultBranch = main
